<div class="pure-g table">
  <div class="pure-u-1 round">
    <h3>Rodada 1</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time14</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time2</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time23</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time6</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time25</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time15</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time26</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time21</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time16</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time4</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time11</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time9</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time22</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time20</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time3</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time12</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time7</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time1</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time13</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time18</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time19</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time8</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time17</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time5</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time24</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 2</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time23</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time14</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time25</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time2</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time26</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time6</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time16</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time15</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time11</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time21</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time22</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time4</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time3</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time9</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time7</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time20</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time13</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time12</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time19</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time1</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time17</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time18</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time24</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time8</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time5</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 3</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time25</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time23</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time26</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time14</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time16</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time2</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time11</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time6</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time22</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time15</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time3</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time21</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time7</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time4</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time13</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time9</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time19</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time20</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time17</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time12</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time24</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time1</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time5</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time18</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time8</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 4</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time26</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time25</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time16</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time23</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time11</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time14</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time22</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time2</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time3</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time6</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time7</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time15</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time13</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time21</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time19</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time4</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time17</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time9</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time24</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time20</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time5</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time12</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time8</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time1</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time18</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 5</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time16</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time26</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time11</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time25</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time22</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time23</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time3</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time14</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time7</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time2</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time13</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time6</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time19</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time15</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time17</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time21</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time24</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time4</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time5</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time9</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time8</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time20</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time18</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time12</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time1</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 6</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time11</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time16</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time22</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time26</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time3</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time25</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time7</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time23</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time13</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time14</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time19</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time2</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time17</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time6</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time24</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time15</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time5</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time21</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time8</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time4</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time18</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time9</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time1</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time20</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time12</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 7</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time22</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time11</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time3</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time16</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time7</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time26</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time13</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time25</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time19</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time23</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time17</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time14</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time24</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time2</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time5</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time6</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time8</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time15</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time18</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time21</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time1</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time4</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time12</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time9</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time20</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 8</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time3</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time22</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time7</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time11</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time13</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time16</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time19</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time26</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time17</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time25</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time24</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time23</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time5</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time14</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time8</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time2</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time18</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time6</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time1</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time15</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time12</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time21</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time20</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time4</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time9</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 9</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time7</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time3</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time13</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time22</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time19</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time11</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time17</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time16</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time24</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time26</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time5</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time25</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time8</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time23</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time18</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time14</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time1</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time2</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time12</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time6</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time20</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time15</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time9</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time21</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time4</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 10</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time13</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time7</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time19</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time3</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time17</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time22</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time24</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time11</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time5</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time16</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time8</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time26</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time18</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time25</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time1</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time23</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time12</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time14</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time20</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time2</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time9</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time6</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time4</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time15</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time21</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 11</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time19</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time13</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time17</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time7</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time24</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time3</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time5</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time22</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time8</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time11</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time18</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time16</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time1</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time26</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time12</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time25</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time20</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time23</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time9</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time14</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time4</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time2</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time21</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time6</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time15</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 12</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time17</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time19</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time24</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time13</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time5</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time7</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time8</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time3</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time18</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time22</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time1</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time11</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time12</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time16</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time20</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time26</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time9</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time25</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time4</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time23</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time21</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time14</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time15</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time2</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time6</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 13</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time24</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time17</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time5</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time19</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time8</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time13</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time18</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time7</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time1</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time3</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time12</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time22</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time20</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time11</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time9</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time16</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time4</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time26</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time21</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time25</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time15</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time23</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time6</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time14</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time2</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 14</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time5</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time24</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time8</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time17</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time18</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time19</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time1</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time13</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time12</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time7</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time20</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time3</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time9</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time22</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time4</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time11</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time21</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time16</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time15</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time26</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time6</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time25</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time2</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time23</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time14</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 15</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time8</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time5</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time18</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time24</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time1</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time17</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time12</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time19</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time20</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time13</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time9</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time7</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time4</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time3</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time21</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time22</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time15</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time11</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time6</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time16</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time2</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time26</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time14</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time25</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time23</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 16</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time18</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time8</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time1</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time5</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time12</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time24</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time20</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time17</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time9</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time19</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time4</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time13</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time21</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time7</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time15</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time3</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time6</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time22</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time2</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time11</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time14</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time16</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time23</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time26</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time25</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 17</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time1</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time18</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time12</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time8</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time20</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time5</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time9</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time24</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time4</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time17</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time21</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time19</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time15</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time13</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time6</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time7</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time2</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time3</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time14</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time22</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time23</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time11</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time25</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time16</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time26</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 18</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time12</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time1</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time20</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time18</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time9</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time8</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time4</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time5</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time21</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time24</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time15</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time17</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time6</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time19</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time2</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time13</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time14</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time7</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time23</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time3</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time25</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time22</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time26</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time11</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time16</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 19</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time20</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time12</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time9</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time1</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time4</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time18</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time21</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time8</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time15</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time5</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time6</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time24</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time2</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time17</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time14</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time19</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time23</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time13</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time25</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time7</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time26</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time3</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time16</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time22</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time11</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 20</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time9</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time20</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time4</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time12</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time21</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time1</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time15</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time18</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time6</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time8</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time2</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time5</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time14</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time24</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time23</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time17</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time25</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time19</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time26</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time13</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time16</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time7</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time11</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time3</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time22</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 21</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time4</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time9</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time21</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time20</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time15</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time12</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time6</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time1</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time2</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time18</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time14</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time8</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time23</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time5</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time25</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time24</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time26</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time17</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time16</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time19</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time11</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time13</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time22</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time7</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time3</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 22</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time21</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time4</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time15</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time9</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time6</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time20</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time2</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time12</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time14</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time1</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time23</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time18</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time25</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time8</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time26</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time5</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time16</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time24</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time11</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time17</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time22</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time19</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time3</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time13</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time7</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 23</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time15</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time21</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time6</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time4</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time2</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time9</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time14</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time20</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time23</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time12</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time25</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time1</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time26</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time18</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time16</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time8</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time11</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time5</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time22</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time24</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time3</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time17</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time7</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time19</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time13</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 24</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time6</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time15</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time2</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time21</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time14</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time4</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time23</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time9</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time25</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time20</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time26</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time12</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time16</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time1</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time11</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time18</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time22</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time8</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time3</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time5</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time7</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time24</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time13</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time17</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time19</div>
    </div>
  </div>
  <div class="pure-u-1 round">
    <h3>Rodada 25</h3>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time10</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time2</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time6</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time14</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time15</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time23</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time21</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time25</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time4</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time26</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time9</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time16</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time20</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time11</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time12</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time22</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time1</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time3</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time18</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time7</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time8</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time13</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time5</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time19</div>
    </div>
    <div class="pure-g game">
      <div class="pure-u-1-3 home team">time24</div>
      <div class="pure-u-1-3 x">-</div>
      <div class="pure-u-1-3 away team">time17</div>
    </div>
  </div>
</div>