    /*
    Flaticon icon font: Flaticon
    Creation date: 03/12/2018 10:43
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-advertising:before { content: "\f100"; }
.flaticon-002-app:before { content: "\f101"; }
.flaticon-003-edit:before { content: "\f102"; }
.flaticon-004-event:before { content: "\f103"; }
.flaticon-005-exit:before { content: "\f104"; }
.flaticon-006-feed:before { content: "\f105"; }
.flaticon-007-flag:before { content: "\f106"; }
.flaticon-008-friend:before { content: "\f107"; }
.flaticon-009-friends:before { content: "\f108"; }
.flaticon-010-puzzle:before { content: "\f109"; }
.flaticon-011-group:before { content: "\f10a"; }
.flaticon-012-lifebuoy:before { content: "\f10b"; }
.flaticon-013-question:before { content: "\f10c"; }
.flaticon-014-conversation:before { content: "\f10d"; }
.flaticon-015-key:before { content: "\f10e"; }
.flaticon-016-language:before { content: "\f10f"; }
.flaticon-017-location-pin:before { content: "\f110"; }
.flaticon-018-padlock:before { content: "\f111"; }
.flaticon-019-market:before { content: "\f112"; }
.flaticon-020-message:before { content: "\f113"; }
.flaticon-021-clock:before { content: "\f114"; }
.flaticon-022-feed-1:before { content: "\f115"; }
.flaticon-023-notification:before { content: "\f116"; }
.flaticon-024-person:before { content: "\f117"; }
.flaticon-025-photo:before { content: "\f118"; }
.flaticon-026-stars:before { content: "\f119"; }
.flaticon-027-report:before { content: "\f11a"; }
.flaticon-028-manual:before { content: "\f11b"; }
.flaticon-029-search:before { content: "\f11c"; }
.flaticon-030-setting:before { content: "\f11d"; }
.flaticon-031-ball:before { content: "\f11e"; }
.flaticon-032-recommendation:before { content: "\f11f"; }
.flaticon-033-user:before { content: "\f120"; }
.flaticon-034-video-player:before { content: "\f121"; }
.flaticon-035-weather:before { content: "\f122"; }
.flaticon-036-suitcase:before { content: "\f123"; }
    
    $font-Flaticon-001-advertising: "\f100";
    $font-Flaticon-002-app: "\f101";
    $font-Flaticon-003-edit: "\f102";
    $font-Flaticon-004-event: "\f103";
    $font-Flaticon-005-exit: "\f104";
    $font-Flaticon-006-feed: "\f105";
    $font-Flaticon-007-flag: "\f106";
    $font-Flaticon-008-friend: "\f107";
    $font-Flaticon-009-friends: "\f108";
    $font-Flaticon-010-puzzle: "\f109";
    $font-Flaticon-011-group: "\f10a";
    $font-Flaticon-012-lifebuoy: "\f10b";
    $font-Flaticon-013-question: "\f10c";
    $font-Flaticon-014-conversation: "\f10d";
    $font-Flaticon-015-key: "\f10e";
    $font-Flaticon-016-language: "\f10f";
    $font-Flaticon-017-location-pin: "\f110";
    $font-Flaticon-018-padlock: "\f111";
    $font-Flaticon-019-market: "\f112";
    $font-Flaticon-020-message: "\f113";
    $font-Flaticon-021-clock: "\f114";
    $font-Flaticon-022-feed-1: "\f115";
    $font-Flaticon-023-notification: "\f116";
    $font-Flaticon-024-person: "\f117";
    $font-Flaticon-025-photo: "\f118";
    $font-Flaticon-026-stars: "\f119";
    $font-Flaticon-027-report: "\f11a";
    $font-Flaticon-028-manual: "\f11b";
    $font-Flaticon-029-search: "\f11c";
    $font-Flaticon-030-setting: "\f11d";
    $font-Flaticon-031-ball: "\f11e";
    $font-Flaticon-032-recommendation: "\f11f";
    $font-Flaticon-033-user: "\f120";
    $font-Flaticon-034-video-player: "\f121";
    $font-Flaticon-035-weather: "\f122";
    $font-Flaticon-036-suitcase: "\f123";