	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/12/2018 10:43
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-advertising:before { content: "\f100"; }
.flaticon-002-app:before { content: "\f101"; }
.flaticon-003-edit:before { content: "\f102"; }
.flaticon-004-event:before { content: "\f103"; }
.flaticon-005-exit:before { content: "\f104"; }
.flaticon-006-feed:before { content: "\f105"; }
.flaticon-007-flag:before { content: "\f106"; }
.flaticon-008-friend:before { content: "\f107"; }
.flaticon-009-friends:before { content: "\f108"; }
.flaticon-010-puzzle:before { content: "\f109"; }
.flaticon-011-group:before { content: "\f10a"; }
.flaticon-012-lifebuoy:before { content: "\f10b"; }
.flaticon-013-question:before { content: "\f10c"; }
.flaticon-014-conversation:before { content: "\f10d"; }
.flaticon-015-key:before { content: "\f10e"; }
.flaticon-016-language:before { content: "\f10f"; }
.flaticon-017-location-pin:before { content: "\f110"; }
.flaticon-018-padlock:before { content: "\f111"; }
.flaticon-019-market:before { content: "\f112"; }
.flaticon-020-message:before { content: "\f113"; }
.flaticon-021-clock:before { content: "\f114"; }
.flaticon-022-feed-1:before { content: "\f115"; }
.flaticon-023-notification:before { content: "\f116"; }
.flaticon-024-person:before { content: "\f117"; }
.flaticon-025-photo:before { content: "\f118"; }
.flaticon-026-stars:before { content: "\f119"; }
.flaticon-027-report:before { content: "\f11a"; }
.flaticon-028-manual:before { content: "\f11b"; }
.flaticon-029-search:before { content: "\f11c"; }
.flaticon-030-setting:before { content: "\f11d"; }
.flaticon-031-ball:before { content: "\f11e"; }
.flaticon-032-recommendation:before { content: "\f11f"; }
.flaticon-033-user:before { content: "\f120"; }
.flaticon-034-video-player:before { content: "\f121"; }
.flaticon-035-weather:before { content: "\f122"; }
.flaticon-036-suitcase:before { content: "\f123"; }