.grid .mobile {

}


:root {
  --theme-buttons-amount: 3;
  --color-black: #000;
  --color-red: #ef223a;
  --color-grey: #c0c0c0;

  --width: 100vw;

  --height-col: 240px;
  --height-min: 60px;


  --header-height: 18vh;
  --footer-height: var(--height-min);
}
* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

body {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

body a {
  color: #fff;
}

button {
  background: transparent;
}


.icon-square, .icon-arrow, .icon-badge-star {
  /* filter: invert(1); */
}

.icon-badge-star {
  width: 5vw;
  top: 1vh;
  position: relative;
}
.text-center {
  text-align: center;
}

.title-equipes-list {
  font-size: 44px;
  padding-top: 10px;
}

#search {
  width: 90%;
  padding: 8px;
  border: 2px inset;
  font-size: 24px;
  margin: 14px;
}
#search::placeholder { color: #999; }

#player-name-wrapper {

  float: left;
  padding-left: 2vw;
  position: relative;
}

.header-balance#player-name {
  font-size: 7vw;
  top: 6px;
  position: relative
}

#badge-beta {
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;

}

/* #loading {

  background: rgba(255, 255, 255, 0.8);
  height: 84vh;
  padding-top: 10vh;
} */

/* GRID */
.grid {
  height: 80vh;
  width: 100vw;
  overflow: hidden;
}
.grid header {
  height: 10vh;
  width: var(--width);
  position: absolute;
  top: 0;
  background-color: var(--color-black);
  color: #fff;
}


.grid .row {
  /* height: var(--height-col); */
  height: 10vh;
  clear: both;
  display: block;
  margin-bottom: 20px;
}

.grid .row-small .row  {
  height: 15vh;
  background-color: transparent;
}

.grid header .row-small .row  {
  height: 25vh;
}

.grid footer {
  height: 8vh;
  width: var(--width);
  position: fixed;
  /* top: 91vh; */
  bottom: 0vh;
  background-color: var(--color-black);
  border-top: 2px solid #fff;
  background: url('../img/bg-footer.jpg');
  background-size: 100%;
}
.grid main {
  
  height: 76vh;
  position: relative;
  top: 13vh;
  width: var(--width);
  overflow: auto;
  background-color: #f00;
  padding-bottom: 20vh;
  background-image: linear-gradient(#f96f6f, #690000);
  background: url(../img/bg-main.jpg) no-repeat;
  padding: 0 4px 40px 1.5vw;
  background-size: 150%;
  background-position: 0 0;
}

body #table-teams tr th {
  /* text-align: left;
  position: relative;
  left: 6vw; */
  padding-top: 10px;
}


body #table-teams tr th:nth-child(3) {
  text-align: left;
  position: relative;
  /* left: 6vw;
  padding-top: 10px; */
}

text-align: left;
position: relative;
left: 6vw;
padding-top: 10px;
.grid .col-1 .col.box{
  height: var(--height-col);
  width: 100%;
  text-align: right;
}

.grid .col-2 .col.box {
  height: var(--height-col);
  height: 34vh;
  width: 48vw;
  margin: 0 0 4px 0;
  display: block;
  float: left;
  overflow: hidden;
}

.grid .col-2 .col.box:nth-child(1) {
  margin-right: 4px;
} 
.grid .col-2 .col.box:nth-child(2) {
  border-right: 0;
} 

.grid .box {
  /* background-color: #fff; */
  position: relative;
  text-align: center;
  background-color: #fff;
  /* border: 1px solid #666; */
  border-top: 0;
  border-left: 0;
  /* overflow: hidden; */
}

.grid .box .box-title {
  /* position: absolute;
  top: 40px;
  right: 20px; */
  text-align: center;
  font-size: 6vw;
  position: relative;
  top: 12vh;
  color: #000;
}

.grid .box .box-title + img {     
  width: 8vh;
  display: block;
  margin: 0 auto;
  /* position: absolute; */
  /* top: 2vh; */
  left: 2vw;
  /* filter: invert(1); */
  /* display: none; */
  margin-top: -2vh;
}

.grid .box .box-title + img.icon-dashboard-large {     
  width: 9vh;
  margin-top: -6vh;
}

.grid .box .box-title + img.icon-dashboard-large.icon-ranking-teams {
  margin-top: -6vh;
  width: 9vh;
}


.grid .box .box-title + img.icon-bottom {   
  margin-top: -2vh;
  width: 8vh;
}

.grid .box .box-title + img.icon-mercado-da-bola {
  position: relative;
  top: -3vh;
}

.grid .box .box-title.title-box-bottom {
  top: 12vh;
}
/* TITLES ONE LINE */
.main-content .row .title-one-line {
  top: 7vh;
}

.box-header {
  /* background-image: linear-gradient(red, black); */
  /* background-color: var(--color-black); */
  
  text-align: center;    
  height: 15vh;
  /* background: url("../img/top-bg-black.jpg") 100%; */
  background: url("../img/hexagon-pattern-bottom.jpg") 100%;
  /* background: url("../img/hexagon-pattern-blue1.png") 100%; */
  /* opacity: 0.5; */
  /* filter: grayscale(0.5); */
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: #000;
}

.grid .row-small .box-header-top, .header-black {
  /* background: url("../img/top-bg-black.jpg") 100%; */
  background: url("../img/hexagon-pattern-bottom.jpg") 100%;
  /* background: url("../img/hexagon-pattern-blue1.png") 100%; */
  /* opacity: 0.5; */
  /* filter: grayscale(0.5); */
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: #000;
}

.box-header .box-header-title{
  position: relative;
  top: 3vh;
  font-size: 4vh;
}

.box-header-top .logo {
  height: 13vh;
  position: relative;
  top: 1vh;
}

.box-header .icon {
  width: 2.3vh;
  filter: invert(1);
}

.box-header-col {
  display: inline-block;
  float: right;
  clear: both;
}

.box-header-logout-link {
  position: absolute;
  top: 30px;
  right: 20px;
  display: block;
  width: 40px;
}

.box-header-logout-icon {
  width: 40px;
}

.bar-data {
  height: 54px;
  font-size: 2.8vh;
  font-weight: bold;
  padding: 1vh 0.5vw 0 0;
  margin-top: 4px;
  background: url(../img/bg-brush.jpg) no-repeat top right;
  background-size: 100%;
  /* background-color: #000; */
  color: #000;
  background: rgba(255,255,255, 0.8);
}

.bar-data .box-header-col {
  padding-right: 10px;
}

.box-perfil {
  background-color: rgba(255, 255, 255 0.7);
  text-align: right;
  height: 100px;
}

body div.card {
  background: none
}
.box-perfil img {
  width: 100%;
}

.grid .col-2 .col.footer-menu {
  height: 200px;
  width: calc(100% / 3);
  margin: 0 auto;
  display: block;
  float: left;
  text-align: center;
  padding-top: 1vh;
}

.grid .col-2 .col.footer-menu:nth-child(2) {
  text-align: center;
  
}

.grid .col-2 .col.footer-menu img {
  /* filter: invert(1); */
  filter: grayscale(100%) brightness(1000%);
  width: 5vh;
  display: block;
  margin: 0.8vh auto 0;
}
.col.footer-menu:nth-child(2) img{
  right: 40px;
}

.box-link {
  text-decoration: none;
  color: #fff;
}



#table-champs {
  width: 100vw;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 20px;
}

#table-champs tr {
  background: #000;
  margin-bottom: 1vh;
  display: block;
}

#table-champs td {
  padding: 2vh 0;
}

body.champs-view table td,
body.champs-view table a {
  color: #fff;

}

#link-voltar {
  color: #000;
  text-align: left;
  font-weight: bold;
}

#table-champs td img {
  width: 32%;
  display: block;
  margin: 0 auto;
}

#view-mercado-da-bola .card {
  background-color: #000;
  font-size: 14px;
  text-align: left;
}
#view-mercado-da-bola .card tr {
  border: 1px solid #fff;
  padding: 30px 0;
}

#view-mercado-da-bola .card > .card-body {
  padding: 20px;
}
#view-mercado-da-bola .grid .row {
  margin-bottom: 0;
  margin-top: 10px;
}

/* #view-mercado-da-bola .card td:nth-child(1) {
  width: 60%;
  margin-right: 1%;
  padding-right: 1%;
} */

.main-content {
  margin-top: 2vh ;
}

#view-mercado-da-bola .row {
  height: 10vh;
  border-bottom: 1px solid #fff;
}
#view-mercado-da-bola .row span{
  display: inline-block;
}

#view-mercado-da-bola .row span:nth-child(1){
  width: 59%;
}

#view-mercado-da-bola .row span:nth-child(2){
  width: 30%;
  padding-left: 2%;
}


#view-mercado-da-bola .row {
  height: 5vh;
  margin-top: 10px;
  border-bottom: 1px solid #000;
}
#view-mercado-da-bola .row span{
  display: inline-block;
}

#view-mercado-da-bola .row span:nth-child(1){
  width: 59%;
}

#view-mercado-da-bola .row span:nth-child(2){
  width: 30%;
  padding-left: 4%;
}

.table-mercado-da-bola-col-title {
  display: inline-block;
}

.table-mercado-da-bola-col-title:nth-child(1) {
  width: 59%;
  text-align: left;
}

.table-mercado-da-bola-col-title:nth-child(2) {
  width: 39%;
  text-align: left;
  padding-left: 4%;
}

body .row > div > .card > .card-body {
  min-height: 73vh;
  /* background-color: #fff; */
  background-color: rgba(255, 255, 255, 0.8 );
  
  padding: 0;
  padding-bottom: 40px;
  margin-bottom: 20vh;
  color: #000;
  overflow: hidden;
}

/* MEU PERFIL */
#team-name {
  color: var(--color-red);
}

#player-console {
  color: var(--color-red);
  /* margin-top: 20px; */
  font-size: 26px;
}

#player-team-name {
  border: 0;
  /* border-bottom: 1px solid #fff; */
  margin-bottom: 20px;
  color: #000;
}


/* CARD */

.console-logo-modal {
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

.card-body .author .console-logo {
  margin-bottom: 20px;
  /* filter: invert(1); */
    top: 10px;
    position: relative;
}

.card-user .image {
  height: 120px;
}

.card-user .author {
  text-align: center;
  text-transform: none;
  /* margin-top: 4vh; */
  /* margin-bottom: 2vh; */
}

.card-user .author a+p.description {
  margin-top: -7px;
}

.card-user .avatar {
  width: 124px;
  height: 124px;
  border: 1px solid #FFFFFF;
  border-radius: 20vw;
  position: relative;
  top: 6vh;
}

.card-user .card-body {
  min-height: 240px;
}

.card-user hr {
  margin: 5px 15px;
}

.card-user .button-container {
  margin-bottom: 6px;
  text-align: center;
}

.card-body .user-data {
  text-align: center;
  color: #000;
  font-size: 5vw;
}

.user-data #player-overall-title {
  color: var(--color-red);
  /* border-top: 1px solid #fff; */
  padding-top: 14px;
  /* margin-top: 20px; */
}

#player-overall-title {
  font-size: 30px;
}

/* Buttons */
.menu-link {
  position: relative;
  width: 100%;
  height: 100px;
  display: block;
}
/* .btn-perfil {
  position: relative;
  width: 100%;
}
.btn-perfil span {
  position: absolute;
  top: -40px;
  right: 0;
  color: #fff;
  font-size: 18px;
}

.btn-perfil img {
  position: absolute;
  left: 30px;
  top: 20px;
} */

.btn-enter-team {

  font-size: 28px;
  border: 3px solid #000;
  padding: 16px;
  color: #f00;
  font-weight: bold;
}
.btn-home {
  /* background-color: #000000; */
}
.btn-gerenciar-equipe,
#btn-editar {
  background-color: #fff;
  padding: 2%;
  border: 1px solid #000;
  margin-top: 10px;
  max-width: 400px;
  min-width: 300px;
  width: 80%
}

.btn-gerenciar-equipe a,
#btn-editar a {
  color: #000;
  font-size: 24px;
}

.btn-home-white {
  /* background: #000; */
}

body .btn.btn-create-team,
body .btn.btn-choose-team {    
  color: #000;
  font-size: 7vw;
  text-align: right;
  padding: 10px 20px;
  margin: 20px auto;
  /* background: 0 0; */
  background-color: #fff;
  background-position: 3vh 2vw;
  background-size: 40px;
  background-repeat: no-repeat;
  width: 90vw;
  height: 9vh;
  padding-right: 17vw;
  font-weight: bold;
  border: 1px solid #000;
}

body .btn.btn-create-team {

  background-image: url(../img/icons/png/011-group.png);
}
body .btn.btn-choose-team {
  background-image: url(../img/icons/png/009-friends.png);
  font-size: 6vw;
  background-position: 2vh 3vw;
  background-size: 36px;
}

body#view-confrontos-lista .row > div > .card > .card-body {
  background: transparent;
}
.confronto-row {
  height: 24vh;
  line-height: 25vh;
  background: #f00;
  margin: 0.75vh 2px;
  border-radius: 4px;
  color: #fff;
}
/* CAMPEONATOS */

#linkConfrontos {
  padding: 10px;
  color: #fff;
}

#team-data-badge {    
  /* background: url(../img/bg5.jpg) 0 0 no-repeat; */
  /* background-size: 100%; */
}

#team-data {
  margin-top: 80px;
}


#table-teams, .table-teams {
  border-collapse: collapse;
}

#table-teams th, .table-teams th {
  border-bottom: 1px solid #fff;
  font-size: 22px;
}

#table-teams td, .table-teams td {
  border-bottom:1px solid #000;
  font-size: 14px;
}

#table-teams td:last-child, .table-teams td:last-child {
  border-right: 0;
  text-align: left;
}
#view-equipes.grid .box{
  /* background: rgba(255, 255, 255, 0.7);
   */
   background: transparent;
}

#view-confrontos-novos.grid .row-small .row {
  height: 0;
}
#view-equipes.grid .row-small .row {
  background: transparent;
}


#view-equipes #table-teams {
  background: rgba(255, 255, 255, 0.8);
}
#view-equipes .row > div > .card > .card-body {
  background: transparent;
}

#view-equipes #table-teams th:nth-child(3),
#view-equipes .table-teams th:nth-child(3) {
  position: relative;
  left: 3vw;
}


#view-equipes #table-teams td:nth-child(3),
#view-equipes .table-teams td:nth-child(3) {
  text-align: left;
}



#view-equipes-admin #table-teams td:nth-child(3),
#view-equipes-admin .table-teams td:nth-child(3) {
  text-align: center;
}


#view-equipes .row-small.col-1.col.box:nth-child(1) {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;

}

#table-teams td.table-teams-name a,
.table-teams td.table-teams-name a  {
  position: relative;
  left: 6vw;
}

#table-teams td .table-teams-badge,
.table-teams td .table-teams-badge {
  width: 40px;
}

body #champ-info + .card-body {

  padding: 0;
  /* padding-right: 4px; */
}

/* VIEWS */

#view-equipe-dados .card {
  background-color: #fff;
}

#view-equipe-dados .card-user {
  height: 338px;
}

#view-equipe-dados #meus-jogadores {
  font-size: 18px;
}

#view-equipe-dados #meus-jogadores tr {
  border-bottom: 1px solid #fff;
  display: block;
  clear: both;
  padding-top: 5px;
}

#view-equipe-dados .meus-jogadores-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: #000;
  border-bottom: 1px solid #fff;
}

#view-equipe-dados .meus-jogadores-avatar {
  width: 16%;
}


#view-equipe-dados #meus-jogadores .meus-jogadores-data {
  text-align: left;
  padding-left: 10px;
}

#player-overall {
  color: #000;
  background: #fff;
  top: 20px;
  position: relative;
}

/* DESKTOP */

/* CAMPEONATOS */


/* REGULMANETO */

#view-regulamento .card-body {
  text-align: left;
  font-size: 16px;
  padding: 20px 4vw;
}

#view-regulamento .card-body h5{
  font-size: 24px;
  border-bottom: 1px solid #fff;
  margin: 30px auto 20px auto;
}

#view-regulamento .card-body h6{
  font-size: 20px;
  margin: 20px auto;
}


#view-regulamento .card-body p {
  font-weight: normal;
}


#view-regulamento .card-body li {
  margin-left: 20px;
}



#view-regulamento .grid .box {
  border: 0;
}

#view-regulamento .grid .col-1 .col.box {
  text-align: left;
}

#view-regulamento #main-content {

  padding-left: 20px;
  background: #000;
  padding-right: 10px;
}


#modal-first-step .form-group {
  margin-top: 14px;
}

#modal-first-step .form-control {
  padding: 1vh 6px;
  font-size: 16px;
  width: 100%;
}


#modal-first-step .form-group label {
  display: block;
}

#modal-first-step .form-group select {
  height: 6vh;
  padding: 1vh;
}

#modal-first-step .modal-title {
  color: var(--color-red);
  font-size: 7vw;
  text-align: center;
}

#modal-first-step #btn-submit {
  color: #fff;
  padding: 2vh;
  font-size: 22px;
}


#view-campeonatos-lista .grid .row {

}
/* CONFRONTOS */

.show {
  display: block;
}

#view-confrontos .card {
  height: 20vh;
  overflow: hidden;
}


#view-confrontos .card.card-opened {
  height: auto;
  min-height: 200px;
  overflow: none;
  display: block;
}

#view-confrontos h4 {
  font-size: 1.714em;
  line-height: 1.45em;
  margin-top: 30px;
  margin-bottom: 15px;
}



/* Listagem de Equipes */

#view-equipes-lista #table-teams-list,
#view-equipes-lista .table-teams-list {
  border-collapse: collapse;
  text-align: left;
}

#view-equipes-lista #table-teams-list thead,
#view-equipes-lista .table-teams-list thead {
  text-align: center;
  font-size: 4vh;
}

#view-equipes-lista #table-teams-list tbody td,
#view-equipes-lista .table-teams-list tbody td {
  
  border-bottom: 1px solid #000;
  padding: 6px;
}


#view-equipes-lista #table-teams-list tbody td:nth-child(1),
#view-equipes-lista .table-teams-list tbody td:nth-child(1) {
  padding-left: 20px;
}

#view-dashboard #teams-total {
  position: absolute;
  top: 3vh;
  right: 2vh;
  font-size: 2.5vh;
  color: #000;
  font-weight: bold;
}


#view-ranking-players .card-header {
  background: #fff;
  text-align: center;
}

#view-ranking-players .card-header ul {
  margin: 0;
  padding: 0;
}
#view-ranking-players .card-header li {
  display: inline-block;
  width: 32vw;
  height: 8vh;
  font-size: 6vw;
  font-weight: bold;
  line-height: 8vh;
  margin: 0;
  padding: 0;
  text-align: center;
}
#view-ranking-players .card-header li a {
  color: #000;
}

#view-ranking-players #table-teams thead th {
  color: #f00;
  padding: 8px 0;
  border: 1px solid #fff;
  font-size: 4vw;
  font-weight: bold;
}

#view-ranking-players #table-teams thead th:nth-child(1), 
#view-ranking-players #table-teams thead th:nth-child(2) {
  font-size: 5vw;
}

#view-ranking-players #table-teams thead th:nth-child(3), 
#view-ranking-players #table-teams thead th:nth-child(4) {
  font-size: 2.8vw;
  text-transform: uppercase;
}


#view-ranking-players .table-teams td {
  font-size: 3vw;
  padding: 4px;
  line-height: 7vh;
}
#view-ranking-players .table-teams td:nth-child(1) {
  text-align: left;
  font-size: 3.5vw;
  width: 42vw;
  padding-left: 5vh; 
  background: url("../img/icons/png-white/041-star3.png") no-repeat;
  background-position: 1vh 3vh;
  background-size: 5vw;
}
#view-ranking-players .table-teams td:nth-child(2) {
  text-align: center;
  font-size: 3.5vw;
  width: 50vw;
}

#view-ranking-players .table-teams td:nth-child(3) {
  text-align: center;
  font-size: 5vw;
  width: 20vw;
}
#view-ranking-players .row-small.col-1 {

  height: 54vh;
}

#view-list-console {
  background: transparent;
  margin-top: 60px;
}
#view-list-console .wrapper-console-list .box{
  height: 30vh;
  background: rgba(255, 255, 255, 0.8);
  margin: 4px 0 0 0;
padding-top: 4vh;
}

#view-list-console.grid main {
  top: 5vh;
}

.grid .box.wrapper-campeonatos-lista {
  background-color: transparent;
  height: 100vh;
  margin-top: 40px;
}

.content .row.row-campeonatos-lista {
  /* background-color: rgba(255, 255, 255, 0.5); */
  height: 30vh;
  margin: 0;
  margin-top: 4px;

  background: #ff5659; /* Old browsers */
  background: -moz-linear-gradient(top, #ff5659 0%, #990002 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff5659 0%,#990002 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff5659 0%,#990002 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5659', endColorstr='#990002',GradientType=0 ); /* IE6-9 */
  opacity: 0.9;
}
.content .row.row-campeonatos-lista h2 a{
  line-height: 30px;
  position: relative;
  top: 30px;
  font-size: 38px;
}
.content .row.row-campeonatos-lista img {
  /* filter: invert(1) grayscale(1); */
}

.ranking-player-name {
  position: relative;
  top: 0.5vh;
}

/* #view-ranking-teams #table-teams td:nth-child(3){
  text-align: center;
}

#view-ranking-players #table-teams td:nth-child(3) {
  text-align: center;
} */

.ranking-players {
  height: 50vh;
  overflow: auto;
  /* font-size: 10vw; */
  /* border-bottom: 1px solid #fff; */
}

/* SOBRESCREVER STYLE */

body #table-teams td,
body .table-teams td {
  border-right: 1px solid #fff;
}

body #table-teams td:nth-child(-1),
body .table-teams td:nth-child(-1) {
  border-right: 0;
}


/* DASHBOARD */
.dashboard-img-bottom {
  width: 48vw;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 7vh;
}
.dashboard-img-bottom-up {

  position: relative;
  top: 0vh;
}

#box-champs {
  /* background: url("../img/bg-champs-white11.jpg") no-repeat 100%;
  background-size: 100%;
  background-position: center bottom; */
  background-color: rgba(255,255,255, 0.8);
}

#box-teams {
  /* background: url("../img/bg-teams-white.jpg") no-repeat 100%;
  background-size: 100%;
  background-position: center bottom; */
  
  background-color: rgba(255,255,255, 0.8);
}

#box-ranking-players {
  /* background: url("../img/bg-ranking-players-white.jpg") no-repeat 100%;
  background-size: 100%;
  background-position: center bottom; */
  
  background-color: rgba(255,255,255, 0.8);
}

#box-ranking-teams {
  /* background: url("../img/bg-ranking-teams-white.jpg") no-repeat 100%;
  background-size: 100%;
  background-position: center bottom; */
  /* 
  background-color: rgba(255,255,255, 0.8); */
  background-color: rgba(255,255,255, 0.8);
}

#box-regulamento {
  /* background: url("../img/bg-regulamento-white1.jpg") no-repeat 100%;
  background-size: 100%;
  background-position: center bottom; */
  
  background-color: rgba(255,255,255, 0.8);
  padding-top: 2vh;
}

#box-mercado-da-bola {
  /* background: url("../img/bg-mercado-da-bola-white1.jpg") no-repeat 100%;
  background-size: 100%;
  background-position: center bottom; */
  
  background-color: rgba(255,255,255, 0.8);
}

.icon-arrow, .icon-badge-star {
  width: 4vw;
}

.icon-square {
  width: 3.5vw;
}


#soccer-ball {
  width: 10vw;
  /* left: 45vw; */
  position: relative;
  top: 20.5vh;
  left: 26vw;
  z-index: 9;
}

#soccer-ball2 {
  width: 10vw;
  /* left: 45vw; */
  position: relative;
  top: 18.5vh;
  left: 26vw;
  z-index: 9;
}



.text-container img {    
  width: 26vw;
  display: inline-block;
  position: relative;
  top: 6vh;
  left: 0vw;
}

.text-container span {
  width: 60vw;
  display: inline-block;
  text-align: left;
  position: relative;
  top: -10vh;
  left: -30vw;
}

.grid .col-1 .col.box.slideshow {

  /* border: 2px solid; */
  height: 32vh;
  clear: both;
  margin-bottom: 20px;
}

#slider-row {
  height: 34vh;
  background-color: rgba(255, 255, 255, 0.8);
}
.after-slider {
  margin-top: -28px;
}

#loading-wrapper {
  width: 100vw;
  height: 130vh;
  display: block;
  margin: 0 auto;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
}
#loading-wrapper #loading-animation {
  /* text-align: center; */
  position: absolute;
  top: 200px;
  /* left: 10%; */
  /* right: 10%; */
  z-index: 99999;
  width: 100vw;
}


.console-logo-list {
  height: 22vh;
  width: auto
}

#btn-gerenciar-champ,
#btn-add-team-champ {
  width: 300px;
  display: block;
  background: #f00;
  margin: 0 auto;
  padding: 10px;
}

.hide {
  display: none;
}

.btn-remove-team-from-champ,
.btn-add-team-to-champ {

  text-align: center;
  width: 40px;
  background: #fff;
  height: 30px;
  margin: 0 auto;
  font-size: 16px;
}
@media screen and (min-width: 780px) {

  /* body .grid a:hover {
    color: #f00;
  }
   */

   body .wrapper-console-list img {
     width: 200px
   }
   .icon-square, .icon-arrow, .icon-badge-star {
    width: 1.4vw;
   }

  .icon-badge-star {
    width: 3vw;
  }

  .dashboard-img-bottom, .wrapper-slider {
    display: none !important;
  }
  .slider-after {
    top: 0 !important;
  }

  .console-logo-list {
    height: 23vh;
    width: auto
  }
  .grid .box {
    /* background-color: #fff; */
    position: relative;
    text-align: center;
    background-color: #fff;
    /* border: 1px solid #666; */
    border-top: 0;
    border-left: 0;
    /* overflow: hidden; */
  }
  
  .grid .col-2 .col.box {
    height: var(--height-col);
    height: 34vh;
    width: 48vw;
    margin: 0 0 4px 0;
    display: block;
    float: left;
}

  #view-ranking-players .card-body {
    font-size: 10vw;
  }
  #view-ranking-players .col-1 .col.box {
    height: 60vh;
    overflow: auto;
    /* font-size: 10vw; */
    /* border-bottom: 1px solid #fff; */
    margin-bottom: 20px;
    border: 1px solid #000;
  }
  body .btn.btn-create-team {
    background-image: url(../img/icons/png/011-group.png);
    font-size: 2.5vw;
    height: 6vw;
    background-size: 8%;
    text-align: center;
    padding-left: 16vw;
    width: 56%;
    background-position: 12vw 2vh;
  }
  
  body .btn.btn-choose-team {
    background-image: url(../img/icons/png/009-friends.png);
    font-size: 2.2vw;
    height: 6vw;
    background-size: 8%;
    text-align: center;
    padding-left: 16vw;
    width: 56%;
    background-position: 10vw 2vh;
}

  .box-header-top, .header-black {
    background: url("../img/top-bg-black.jpg");
    /* filter: grayscale(0.5); */
      background-size: 40%;
      background-position: 80% 0;
      background-repeat: no-repeat;
      /* background-color: #000; */
  }
  #view-ranking-players .ranking-players #table-teams tr th,
  #view-ranking-players .ranking-players .table-teams tr th {
    font-size: 2vw;
  }

  #view-ranking-players .table-teams td:nth-child(2) {
    font-size: 2.5vw;
  }
  #view-ranking-players .table-teams td:nth-child(3) {
    font-size: 3vw;
  }
  #view-ranking-players .card-header {
    font-size: 2.5vw;
  }
  #view-ranking-players .table-teams td:nth-child(1) {
    text-align: left;
    font-size: 2vw;
    width: 42vw;
    padding-left: 8vh;
    background: url(../img/icons/png/041-star3.png) no-repeat;
    background-position: 1vh 2vh;
    background-size: 2vw;
  }

  #view-dashboard #teams-total {
    position: absolute;
    top: 1vh;
    right: 2vh;
    font-size: 4.5vh;
    color: #000;
}
  /* #view-ranking-players .table-teams td:nth-child(1) {
    text-align: left;
    font-size: 3.9vw;
    background-size: 6vh;
  } */

  #table-teams th,
  .table-teams th {
    height: 15vh;
    font-size: 10vh;
  }

  #table-teams th,
  .table-teams th {
    height: 10vh;
    font-size: 1.5vw;
  }

  #table-teams td,
  .table-teams td {
    height: 10vh;
    font-size: 1.2vw;
  }

  #table-teams td .table-teams-badge,
  .table-teams td .table-teams-badge \ {
    width: 6vh;
  }

  #table-teams td.table-teams-name, 
  .table-teams td.table-teams-name {
    text-align: left;
  }

  #table-teams td.table-teams-name a,
  .table-teams td.table-teams-name a {
    position: relative;
    left: 6vw;
  }

  #table-champs td {
    padding: 2vh 0;
    width: 100%;
    display: block;
  }
  #table-champs td img {
    width: 30vh;
  }

  .grid .box .box-title {
    font-size: 5vh;
  }

  .grid .col-2 .col.box {
    height: 38vh;
    padding-top: 8vh;
  }
  .bar-data {
    font-size: 2.2vh;
    margin-right: 0.8vw
  }


  /* DASHBOARD */
  #box-champs {
    background: rgba(255, 255, 255, 0.7);
  }

  #box-teams {
    background: rgba(255, 255, 255, 0.7);
  }

  #box-ranking-players {
    background: rgba(255, 255, 255, 0.7);
  }

  #box-ranking-teams {
    background: rgba(255, 255, 255, 0.7);
  }

  #box-regulamento {
    background: rgba(255, 255, 255, 0.7);
  }

  #box-mercado-da-bola {
    background: rgba(255, 255, 255, 0.7);
  }
  
  .grid .box .box-title + img {
    
    width: 13vh;
    display: block;
    margin: 0 auto;
    position: relative;
    /* top: 2vh; */
    /* left: 2vw; */
    /* filter: invert(1); */
    /* display: none; */
  }
  .grid .box .box-title.title-box-bottom {
    top: 4vh;
  }
  .grid .box .box-title {
    top: -2vh;
  }
  .header-balance#player-name {
    font-size: 30px;
  }
  .grid .box .box-title + img.icon-bottom {
    top: 14vh;
  }
  .grid .box .box-title + img.icon-dashboard-large {
    top: 10vh;
    width: 14vh;
  }
  .grid .box .box-title + img.icon-mercado-da-bola {

    top: 4vh;
  }
  .icon-bottom.icon-regulamento {
    top: 13vh;
  }
  #soccer-ball {
    display: none;
  }
  
  #soccer-ball2 {
    display: none;
  }
  .grid .box .box-title + img.icon-bottom.icon-dashboard-first-row {
    top: 8vh;
  }
}

body div a {
  font-weight: bold !important;
  color: #000;
}

/*slideshow styles*/

#slideshow-artilharia {
  width: 30vw;
}

.slideshow {
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  border: solid 1px white;
}

.slideshow-container {
  width: 2500px;
  font-size: 0;
  transition: 1s ease;
  height: 34vh;
}

.slideshow-container:hover {
  animation-play-state: paused;
}

.slideshow img, 
.slideshow .text-container {
  width: 625px;
  height: auto;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  /* background-color: #fff; */
  color: #000;
}
.slideshow .text-container a {
  color: #000;
  display: block;
  width: 100vw;
  text-align: center;
  font-size: 4vh;
}

.slideshow .text-container {
  height: 225px;
  position: relative;
  background: url("../img/bg-brush-white-slideshow.jpg") no-repeat 120%;
  background-color: #fff;
  /* background-position: -10% -10%; */
}


.slideshow p {
  position: relative;
  top: -45%;
  padding: 5px;
}

.slideshow .slideshow-ranking-jogadores {
  font-size: 2vw;
}

.slide {
  animation: slide 10s ease infinite;
}

#slide-box-bottom {

  margin-top: 150px;
}

.text-container img {    
  width: 26vw;
  display: inline-block;
  position: relative;
  top: 6vh;
  left: 0vw;
}

.text-container span {
  width: 60vw;
  display: inline-block;
  text-align: left;
  position: relative;
  top: -10vh;
  left: -30vw;
}

.grid .col-1 .col.box.slideshow {

  /* border: 2px solid; */
  height: 32vh;
  clear: both;
  margin-bottom: 20px;
}


#view-ranking-players .card{
  background: rgba(255, 255, 255 0.7);
}

#view-ranking-players .main-content .row > div > .card > .card-body {
  /* background: rgba(255, 255, 255 0.7); */
  background-color: rgba(255, 255, 255 0.1);
}