.collapse:not(.show) {
    display: none;
}

.collapse {
  display: none;
}

.card {
  border: 0;
  border-radius: 0.1875rem;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
}

.card-opened {
  height: auto;
  min-height: 200px;
}