.grid .mobile {

}


:root {
  --theme-buttons-amount: 3;
  --color-black: #000;
  --color-red: rgb(110, 7, 7);
  --color-grey: #c0c0c0;

  --width: 100vw;

  --height-col: 240px;
  --height-min: 60px;


  --header-height: 18vh;
  --footer-height: var(--height-min);
}
* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

body {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  color: #000;
}
button {
  background: transparent;
}

.text-center {
  text-align: center;
}

.grid {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.grid header {
  height: 10vh;
  width: var(--width);
  position: absolute;
  top: 0;
  background-color: var(--color-black);
  color: #fff;
}


.grid .row {
  /* height: var(--height-col); */
  height: 27vh;
  clear: both;
  display: block;
  margin-bottom: 20px;
}

.grid .row-small .row  {
  height: 15vh;
  background-color: pink;
}

.grid header .row-small .row  {
  height: 25vh;
}


.grid footer {
  height: var(--height-min);
  width: var(--width);
  position: absolute;
  bottom: 0;
  background-color: var(--color-black);
}
.grid main {
  height: 76vh;
  position: relative;
  top: var(--header-height);
  width: var(--width);
  overflow: auto;
  background-color: #fff;
  
}


.grid .col-1 .col.box{
  height: var(--height-col);
  width: 100%;
  text-align: right;
}

.grid .col-2 .col.box {
  height: var(--height-col);
  height: 36vh;
  width: calc(100% / 2);
  margin: 0 auto;
  display: block;
  float: left;
}
.grid .box {
  /* background-color: #fff; */
  position: relative;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: 0;
  border-left: 0;
}

.grid .box .box-title {
  /* position: absolute;
  top: 40px;
  right: 20px; */
  text-align: center;
  font-size: 24px;
  position: relative;
  top: 40px;
}

.grid .box .box-title + img {
  position: absolute;
  top: 130px;
  right: 40%;
  width: 13vw;
}

.box-header {
  /* background-image: linear-gradient(red, black); */
  background-color: var(--color-black);
  text-align: center;    
  height: 15vh;
}

.box-header .box-header-title{
  position: relative;
  top: 3vh;
  font-size: 4vh;
}

.box-header .icon {
  width: 2.3vh;
  filter: invert(1);
}

.box-header-col {
  display: inline-block;
  float: right;
}


.bar-data {
  background-color: var(--color-red);
  height: 4.6vh;
  font-size: 1.8vh;
  padding: 1vh 1.4vh 0 0
}

.bar-data .box-header-col {
  padding-right: 30px;
}

.box-perfil {
  background-color: #fff;
  text-align: right;
  height: 100px;
}

.box-perfil img {
  width: 100%;
}

.grid .col-2 .col.footer-menu {
  height: 200px;
  width: calc(100% / 2);
  margin: 0 auto;
  display: block;
  float: left;
  padding: 40px;
}

.grid .col-2 .col.footer-menu:nth-child(2) {
  text-align: right;
}

.grid .col-2 .col.footer-menu img {
  filter: invert(1);
  width: 40px;
  position: absolute;
  top: 10px;
}
.col.footer-menu:nth-child(2) img{
  right: 40px;
}

.box-link {
  text-decoration: none;
  color: #f00;
}



#table-champs {
  width: 100vw;
  margin: 0 auto;
}

#table-champs tr {
  background: #000;
  margin-bottom: 1vh;
  display: block;
}

#table-champs td {
  padding: 2vh 0;
}

#table-champs td img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

#view-mercado-da-bola .card {
  background-color: #000;
  font-size: 14px;
  text-align: left;
}
#view-mercado-da-bola .card tr {
  border: 1px solid #fff;
  padding: 30px 0;
}

/* #view-mercado-da-bola .card td:nth-child(1) {
  width: 60%;
  margin-right: 1%;
  padding-right: 1%;
} */

.main-content {
  margin-top: 2vh ;
}

#view-mercado-da-bola .row {
  height: 10vh;
  border-bottom: 1px solid #fff;
}
#view-mercado-da-bola .row span{
  display: inline-block;
}

#view-mercado-da-bola .row span:nth-child(1){
  width: 59%;
}

#view-mercado-da-bola .row span:nth-child(2){
  width: 30%;
  padding-left: 2%;
}


#view-mercado-da-bola .row {
  height: 10vh;
  border-bottom: 1px solid #fff;
}
#view-mercado-da-bola .row span{
  display: inline-block;
}

#view-mercado-da-bola .row span:nth-child(1){
  width: 59%;
}

#view-mercado-da-bola .row span:nth-child(2){
  width: 30%;
  padding-left: 4%;
}

.table-mercado-da-bola-col-title {
  display: inline-block;
}

.table-mercado-da-bola-col-title:nth-child(1) {
  width: 59%;
  text-align: left;
}

.table-mercado-da-bola-col-title:nth-child(2) {
  width: 39%;
  text-align: left;
  padding-left: 4%;
}

body .row > div > .card > .card-body {
  min-height: 73vh;
  background-color: var(--color-red);
}

#player-team-name {
  border: 0;
}

/* CARD */

.card-user .image {
  height: 120px;
}

.card-user .author {
  text-align: center;
  text-transform: none;
  margin-top: -77px;
}

.card-user .author a+p.description {
  margin-top: -7px;
}

.card-user .avatar {
  width: 124px;
  height: 124px;
  border: 1px solid #FFFFFF;
  border-radius: 20vw;
  position: relative;
}

.card-user .card-body {
  min-height: 240px;
}

.card-user hr {
  margin: 5px 15px;
}

.card-user .button-container {
  margin-bottom: 6px;
  text-align: center;
}

.card-body .user-data {
  text-align: center;
  color: #fff;
  font-size: 5vw;
}

.user-data #player-overall-title {
  color: #000;
}

.btn-gerenciar-equipe {
  background-color: #fff;
  padding: 2%;
}

.btn-gerenciar-equipe a {
  color: #000;
  font-size: 24px;
}