
[data-toggle=collapse] {
  cursor: pointer;
}

html body #modal-first-step {
  font-family: 'Roboto', sans-serif;
}

html body .table {
  width: 99.9%;
}

html body .form-control {
  border: 1px solid #000;
}

#champ-name-choice {
  color: #f00;
}

html body div.panel-header {
  padding-top: 40px;
  margin-bottom: 30px;
  background: #000 !important;
}

html body .wrapper {
  height: 150vh;
}

body a:hover, body a:focus {
  color: #000;
}

body .text-black {
  color: #000;
}
body .btn-black {
  background-color: #000;
}

body .btn.btn-default {
  background-color: #000;
}

body .btn.btn-default:hover {
  background-color: #f00;
}

body .btn-full {
  width: 100%;
  display: block;
}
body ul.nav {
  margin-bottom: 50px;
}

body#view-confrontos.row.safari {

  display: block;
  height: 672px;
}

body p.description {
  color: #000;
}

body a:hover {
  text-decoration: none;
}

.btn.btn-manager, .btn.btn-sub-manager {
  background-color: #000;
  margin: 4px 0;
}

.td-name-manager {
  text-align: center;
}

body .card label {
  color: #fff;
}

#manager-name {
  font-size: 18px;
  font-weight: bold;
}

#submanager-name {
  font-size: 14px;
  font-weight: bold;
}

.logo a img {

  display: block;
  margin: 0 auto;
}

.col-badge img {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.console-logo {
  display: inline-block;
  filter: brightness(0%);
  width: 100px;
}
.console-logo:hover {
  /* display: inline-block; */
  filter: brightness(100%);
  /* filter: ; */
}

.ranking-equip-name {
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 14px;
}

/* #table-teams tbody tr:nth-child(odd) {
  background-color: rgb(140, 2, 2);
} */

#table-teams tr th {
  text-align: center;
}

#champ-info #table-teams tr td:nth-child(1) {
  text-align: left;
}

#linkConfrontos {
  text-align: center;
  display: inherit;
}

#card-awards {
  background-color: transparent;
  /* border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      green,
      red
    ) 1 100%; */
}

/*
COLOCAR A REGRA DO RANKING com 4primeiros 6 ultimos e os do meio
*/
#card-ranking {
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      green,
      red
      /* rgba(0, 0, 0, 0) */
    ) 1 100%;
}

#table-teams tr {
  background-color: black;
}
#table-teams tr:nth-child(-n+4) {
  background-color: green;
}
/* #table-teams tr:nth-child(2) {
  background-color: yellow;
} */


#table-teams tr:nth-child(-n+4) {
  /* background-color: #7a0052; */
  background-color: goldenrod;
}

#table-teams tr:nth-child(n+15) {
  background-color: red;
}


#table-teams td:nth-child(+1) {
  border-right: 1px solid #fff;
}

#table-teams td {
  border-right: 1px solid #fff;
  font-size: 20px;
  text-align: center;
}

#champ-name {
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-top: 38px;
}

#champ-name img {
  margin-top: -30px;
}
html body .linkConfrontos {
  font-size: 34px;
}

html body .image.card-user-top {
  background: url('./../img/bg5.jpg') top left;
  background-repeat: repeat-x;
}

#page-equipe-dados .card{
  height: 400px;
  overflow: auto;
}

#game-table {
  font-size: 20px;
  width: 400px;
}

body .table-responsive {
  overflow: auto;
}

body div a {
  font-weight: bold !important;
  color: #fff;
}

.panel-header > .card-title {

  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-top: 50px;
  text-transform: uppercase;
}

#view-mercado-da-bola .panel-header > .card-title {
  font-size: 32px;
  margin-top: 40px;
}

#view-campeonatos .panel-header > .card-title {
  position: relative;
  top: -20px;
}

#table-champs>thead>tr>th {

  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}

#table-champs {
  text-align: center;
}

#table-champs a {
  font-size: 24px;
  text-align: center;
}

body #table-champs tr {
  border-color: #000;
  border-bottom: 2px solid #000;
  padding: 10px 0;
  display: block;
  height: 240px;
  text-align: center;
}

body #table-champs a {

  text-align: center;
}
body #table-champs a:hover {
  background-color: #f00;
}

body #table-champs tbody tr:hover {
  background-color: #f00;
}

#champs-view {
  background-color: #000;
}
body #table-champs a img {

  display: block;
  margin: 0 auto;
  width: 140px;
}


.globaldivision-1, .globaldivision-2 {
  background-color: #000;
}

.globaldivision-3, .globaldivision-4 {
  background-color: #000;
}

.globaldivision-5 {
  background-color: #fff;
}

#table-champs {

  margin-bottom: -20px;
}

body #table-champs>tbody>tr>td {
  text-align: center;
  width: 100%;
  display: block;
}
body #table-champs tbody tr:last-child {
  border: 0;    
  background-color: black;
}

body .card {
  background-color: #f00;
  color: #fff;
}

body #champs-view .card {

  scroll-behavior: unset;
}
body .card .card-body {

  padding: 15px 15px 10px 15px;
  border: 3px solid red;
  /* box-shadow: -1px -1px 20px red; */
  background-color: #fff;
}


body #table-champs td, #table-champs th {
  border-top: 0;
}


.regulamento-view h5 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 40px;
}

@media screen and (max-width: 780px) {

  .regulamento-view h5 {
    font-size: 20px;
  }
}

.hide {
  display: none;
}

#modal-teams {

  display: none;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 999;
  background: #fff;
  width: 80%;
}

#confrontos {
  margin-top: 40px;
}

.loading-svg {
  width: 100px;
}

#loading {    
  text-align: center;
  position: absolute;
  top: 100px;
  left: 10%;
  right: 10%;
  z-index: 99999;
}

html body .navbar .navbar-wrapper {

  display: block;
  align-items: center;
  margin: 0 auto;
}

html body .navbar .navbar-toggler-bar {
  display: block;
  position: relative;
  width: 36px;
  height: 3px;
  border-radius: 1px;
  background: #FFFFFF;
  margin-top: 22px;
}
body .row > div > .card > .card-body {

  border: 0px;
  background: 0px center;
  box-shadow: none;
}

body .bg-black {
  background: transparent !important;
}

#btn-testar-email {
  background-color: #000;
}

#btn-inverter {
  background-color: #000;
  font-size: 24px;
}
#player-team-name {

  color: #000;
  font-weight: bold;
  border: 2px dashed red;
  margin-bottom: 10px;
}

#player-name_psn {
  font-size: 28px;
}

#player-overall-title {
  display: block;
  font-size: 24px;
  margin-bottom: -20px;
}

#player-overall {
  font-size: 34px;
  font-weight: bold;
  padding: 10px;
  /* background-color: #fff; */

}
.card-user p.text-center {
  color: #000;
  font-size: 18px;

}

body .footer {

  padding: 24px 0;
  display: block;
  position: relative;
  bottom: 0;
  left: 10%;
  right: 10%;
  width: 80%;
}

body .footer ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 300px;
}

body .footer ul li {
  display: inline-block;
  width: 30%;
}


@media screen and (min-width: 780px) {

  body .footer nav {
    display: block;
    float: none;
    padding-left: 0;
  }
}

body .main-panel>.content {
  min-height: calc(100vh - 200px);
}

.confronto-visitante {
  text-align: right;
}

body .view-black {
  background-color: #000;
}

#confrontos .card {
  height: 122px;
  margin-top: 10px;
}


#confrontos .card-header {
  text-align: center;
}

#confrontos .card-body {
  background-color: #f00;
  width: 100%;
  padding: 0;
}

body .table>thead>tr>th {
  font-weight: bold;
}

#modal-first-step {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
}

#modal-first-step form {
  min-width: 50%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10%;
  font-size: 18px;
  font-weight: bold;
}


@media screen and (min-width: 780px) {

  #modal-first-step {
    width: 100%;
  }
  #modal-first-step form {
    /* min-width: 50%; */
    width: 800px;
    margin: 0 auto;
    /* padding: 10%; */
    font-size: 24px;
    font-weight: bold;
  }
}


/* PAYMENT */

#payment-wrapper {
  position: relative;
  top: 0.1vh;
  left: 10vw;
}

#payment-form {
  position: relative;
  top: 20vh;
  left: 10vw;
}